p {
  color: green;
  font-size: 20px;
}

img{
  width: 100px
}

h1{
  text-align: center;
}

.dog-img{
  display: block;
  margin:0 auto;
}

.special{
  color: #e0eac7;
  background: blue;
  border: 5px dotted blue;
  border-radius: 20px;
  padding: 40px;
  margin: 60px;
  width: 200px;
}

html{
  background-color: #e0eac7
}
