*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

.sidebar{
  background-color: #ff9ab4;
  position:fixed;
  top:0;
  right:-300px;
  width:300px;
  height:100vh;
  padding:1rem;
  transition:right.5s;
}

.active {
  /*width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;*/
  right:0;
}

.marquee {
  width: 100%; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  border:1px solid #ccc;
  position:fixed;
  bottom:0;
  left:0;
  font-size:3rem;
}

.draggable{
  background-color:#ff5a93;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  padding: 0.5em;
  cursor:grab;
  transition:transform .5s;
}

.move1:hover{
  transform:scale(2);
}
