*{
  box-sizing: border-box;
}

/**
img{
  max-width: 44.7%;
  position: fixed;
  top: 106px;
  left: 459px;
}**/

html{
  background-color: #e5d9c9;
}
/**
.secret-btn{
  position: fixed;
  top: 100px;
  left: 100px;
  padding:30px;
  display:inline-block;
  opacity: 1;
}

.secret{
  height:150px;
  position:fixed;
  bottom:20px;
  left:20px;
  opacity:0;
}

.secret-btn:hover + .secret{
  opacity:1;
}
**/

.line{
  position: absolute;
  top: 106px;
  left: 460px;
}

.glow{
  position: fixed;
  top: 106px;
  left: 460px;
  z-index: 999;
}

.dot1{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 273px;
  left: 873px;
  z-index: 99;
  opacity: 1;
}
.secret1{
  color: red;
  position: fixed;
  top: 273px;
  left: 873px;
  opacity: 0;
}
.dot1:hover + .secret1{
  opacity:1;
}


.dot2{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 267px;
  left: 853px;
  z-index: 99;
}
.secret2{
  color: red;
  position: fixed;
  top: 267px;
  left: 853px;
  opacity: 0;
}
.dot2:hover + .secret2{
  opacity:1;
}

.dot3{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 247px;
  left: 849px;
  z-index: 99;
}
.secret3{
  color: red;
  position: fixed;
  top: 247px;
  left: 849px;
  opacity: 0;
}
.dot3:hover + .secret3{
  opacity:1;
}

.dot4{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 235px;
  left: 862px;
  z-index: 99;
}
.secret4{
  color: red;
  position: fixed;
  top: 235px;
  left: 862px;
  opacity: 0;
}
.dot4:hover + .secret4{
  opacity:1;
}

.dot5{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 233px;
  left: 888px;
  z-index: 99;
}
.secret5{
  color: red;
  position: fixed;
  top: 233px;
  left: 888px;
  opacity: 0;
}
.dot5:hover + .secret5{
  opacity:1;
}

.dot6{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 223px;
  left: 910px;
  z-index: 99;
}
.secret6{
  color: red;
  position: fixed;
  top: 223px;
  left: 910px;
  opacity: 0;
}
.dot6:hover + .secret6{
  opacity:1;
}

.dot7{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 205px;
  left: 912px;
  z-index: 99;
}
.secret7{
  color: red;
  position: fixed;
  top: 205px;
  left: 912px;
  opacity: 0;
}
.dot7:hover + .secret7{
  opacity:1;
}

.dot8{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 202px;
  left: 893px;
  z-index: 99;
}
.secret8{
  color: red;
  position: fixed;
  top: 202px;
  left: 893px;
  opacity: 0;
}
.dot8:hover + .secret8{
  opacity:1;
}

.dot9{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 197px;
  left: 875px;
  z-index: 99;
}
.secret9{
  color: red;
  position: fixed;
  top: 197px;
  left: 875px;
  opacity: 0;
}
.dot9:hover + .secret9{
  opacity:1;
}

.dot10{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 182px;
  left: 870px;
  z-index: 99;
}
.secret10{
  color: red;
  position: fixed;
  top: 183px;
  left: 870px;
  opacity: 0;
}
.dot10:hover + .secret10{
  opacity:1;
}

.dot11{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 169px;
  left: 857px;
  z-index: 99;
}
.secret11{
  color: red;
  position: fixed;
  top: 169px;
  left: 857px;
  opacity: 0;
}
.dot11:hover + .secret11{
  opacity:1;
}

.dot12{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 165px;
  left: 840px;
  z-index: 99;
}
.secret12{
  color: red;
  position: fixed;
  top: 165px;
  left: 840px;
  opacity: 0;
}
.dot12:hover + .secret12{
  opacity:1;
}

.dot13{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 169px;
  left: 821px;
  z-index: 99;
}
.secret13{
  color: red;
  position: fixed;
  top: 169px;
  left: 821px;
  opacity: 0;
}
.dot13:hover + .secret13{
  opacity:1;
}

.dot14{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 183px;
  left: 804px;
  z-index: 99;
}
.secret14{
  color: red;
  position: fixed;
  top: 183px;
  left: 804px;
  opacity: 0;
}
.dot14:hover + .secret14{
  opacity:1;
}

.dot15{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 200px;
  left: 799px;
  z-index: 99;
}
.secret15{
  color: red;
  position: fixed;
  top: 200px;
  left: 799px;
  opacity: 0;
}
.dot15:hover + .secret15{
  opacity:1;
}

.dot16{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 217px;
  left: 805px;
  z-index: 99;
}
.secret16{
  color: red;
  position: fixed;
  top: 217px;
  left: 805px;
  opacity: 0;
}
.dot16:hover + .secret16{
  opacity:1;
}

.dot17{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 231px;
  left: 814px;
  z-index: 99;
}
.secret17{
  color: red;
  position: fixed;
  top: 231px;
  left: 814px;
  opacity: 0;
}
.dot17:hover + .secret17{
  opacity:1;
}

.dot18{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 248px;
  left: 827px;
  z-index: 99;
}
.secret18{
  color: red;
  position: fixed;
  top: 248px;
  left: 827px;
  opacity: 0;
}
.dot18:hover + .secret18{
  opacity:1;
}

.dot19{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 267px;
  left: 828px;
  z-index: 99;
}
.secret19{
  color: red;
  position: fixed;
  top: 267px;
  left: 828px;
  opacity: 0;
}
.dot19:hover + .secret19{
  opacity:1;
}

.dot20{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 272px;
  left: 808px;
  z-index: 99;
}
.secret20{
  color: red;
  position: fixed;
  top: 272px;
  left: 808px;
  opacity: 0;
}
.dot20:hover + .secret20{
  opacity:1;
}

.dot21{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 272px;
  left: 808px;
  z-index: 99;
}
.secret21{
  color: red;
  position: fixed;
  top: 272px;
  left: 808px;
  opacity: 0;
}
.dot21:hover + .secret21{
  opacity:1;
}

.dot23{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 278px;
  left: 789px;
  z-index: 99;
}
.secret23{
  color: red;
  position: fixed;
  top: 278px;
  left: 789px;
  opacity: 0;
}
.dot23:hover + .secret23{
  opacity:1;
}

.dot24{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 290px;
  left: 770px;
  z-index: 99;
}
.secret24{
  color: red;
  position: fixed;
  top: 290px;
  left: 770px;
  opacity: 0;
}
.dot24:hover + .secret24{
  opacity:1;
}

.dot25{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 311px;
  left: 778px;
  z-index: 99;
}
.secret25{
  color: red;
  position: fixed;
  top: 311px;
  left: 778px;
  opacity: 0;
}
.dot25:hover + .secret25{
  opacity:1;
}

.dot26{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 317px;
  left: 794px;
  z-index: 99;
}
.secret26{
  color: red;
  position: fixed;
  top: 317px;
  left: 794px;
  opacity: 0;
}
.dot26:hover + .secret26{
  opacity:1;
}

.dot27{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 319px;
  left: 815px;
  z-index: 99;
}
.secret27{
  color: red;
  position: fixed;
  top: 319px;
  left: 815px;
  opacity: 0;
}
.dot27:hover + .secret27{
  opacity:1;
}

.dot28{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 322px;
  left: 842px;
  z-index: 99;
}
.secret28{
  color: red;
  position: fixed;
  top: 322px;
  left: 842px;
  opacity: 0;
}
.dot28:hover + .secret28{
  opacity:1;
}

.dot29{
  color: red;
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 335px;
  left: 865px;
  z-index: 99;
}
.secret29{
  color: red;
  position: fixed;
  top: 335px;
  left: 865px;
  opacity: 0;
}
.dot29:hover + .secret29{
  opacity:1;
}

.dot30{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 353px;
  left: 877px;
  z-index: 99;
}
.secret30{
  color: red;
  position: fixed;
  top: 353px;
  left: 877px;
  opacity: 0;
}
.dot30:hover + .secret30{
  opacity:1;
}

.dot31{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 371px;
  left: 874px;
  z-index: 99;
}
.secret31{
  color: red;
  position: fixed;
  top: 371px;
  left: 874px;
  opacity: 0;
}
.dot31:hover + .secret31{
  opacity:1;
}

.dot32{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 382px;
  left: 858px;
  z-index: 99;
}
.secret32{
  color: red;
  position: fixed;
  top: 382px;
  left: 858px;
  opacity: 0;
}
.dot32:hover + .secret32{
  opacity:1;
}

.dot33{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 379px;
  left: 840px;
  z-index: 99;
}
.secret33{
  color: red;
  position: fixed;
  top: 379px;
  left: 840px;
  opacity: 0;
}
.dot33:hover + .secret33{
  opacity:1;
}

.dot34{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 375px;
  left: 820px;
  z-index: 99;
}
.secret34{
  color: red;
  position: fixed;
  top: 375px;
  left: 820px;
  opacity: 0;
}
.dot34:hover + .secret34{
  opacity:1;
}

.dot35{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 383px;
  left: 801px;
  z-index: 99;
}
.secret35{
  color: red;
  position: fixed;
  top: 383px;
  left: 801px;
  opacity: 0;
}
.dot35:hover + .secret35{
  opacity:1;
}

.dot36{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 394px;
  left: 782px;
  z-index: 99;
}
.secret36{
  color: red;
  position: fixed;
  top: 394px;
  left: 782px;
  opacity: 0;
}
.dot36:hover + .secret36{
  opacity:1;
}

.dot37{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 381px;
  left: 769px;
  z-index: 99;
}
.secret37{
  color: red;
  position: fixed;
  top: 381px;
  left: 769px;
  opacity: 0;
}
.dot37:hover + .secret37{
  opacity:1;
}

.dot38{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 359px;
  left: 766px;
  z-index: 99;
}
.secret38{
  color: red;
  position: fixed;
  top: 359px;
  left: 766px;
  opacity: 0;
}
.dot38:hover + .secret38{
  opacity:1;
}

.dot39{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 340px;
  left: 761px;
  z-index: 99;
}
.secret39{
  color: red;
  position: fixed;
  top: 340px;
  left: 761px;
  opacity: 0;
}
.dot39:hover + .secret39{
  opacity:1;
}

.dot40{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 325px;
  left: 750px;
  z-index: 99;
}
.secret40{
  color: red;
  position: fixed;
  top: 325px;
  left: 750px;
  opacity: 0;
}
.dot40:hover + .secret40{
  opacity:1;
}

.dot41{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 321px;
  left: 738px;
  z-index: 99;
}
.secret41{
  color: red;
  position: fixed;
  top: 321px;
  left: 738px;
  opacity: 0;
}
.dot41:hover + .secret41{
  opacity:1;
}

.dot42{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 340px;
  left: 728px;
  z-index: 99;
}
.secret42{
  color: red;
  position: fixed;
  top: 340px;
  left: 728px;
  opacity: 0;
}
.dot42:hover + .secret42{
  opacity:1;
}

.dot43{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 362px;
  left: 723px;
  z-index: 99;
}
.secret43{
  color: red;
  position: fixed;
  top: 362px;
  left: 723px;
  opacity: 0;
}
.dot43:hover + .secret43{
  opacity:1;
}

.dot44{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 379px;
  left: 710px;
  z-index: 99;
}
.secret44{
  color: red;
  position: fixed;
  top: 379px;
  left: 710px;
  opacity: 0;
}
.dot44:hover + .secret44{
  opacity:1;
}

.dot45{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 373px;
  left: 693px;
  z-index: 99;
}
.secret45{
  color: red;
  position: fixed;
  top: 373px;
  left: 693px;
  opacity: 0;
}
.dot45:hover + .secret45{
  opacity:1;
}

.dot46{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 365px;
  left: 676px;
  z-index: 99;
}
.secret46{
  color: red;
  position: fixed;
  top: 365px;
  left: 676px;
  opacity: 0;
}
.dot46:hover + .secret46{
  opacity:1;
}

.dot47{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 365px;
  left: 655px;
  z-index: 99;
}
.secret47{
  color: red;
  position: fixed;
  top: 365px;
  left: 655px;
  opacity: 0;
}
.dot47:hover + .secret47{
  opacity:1;
}

.dot48{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 382px;
  left: 642px;
  z-index: 99;
}
.secret48{
  color: red;
  position: fixed;
  top: 382px;
  left: 642px;
  opacity: 0;
}
.dot48:hover + .secret48{
  opacity:1;
}

.dot49{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 403px;
  left: 647px;
  z-index: 99;
}
.secret49{
  color: red;
  position: fixed;
  top: 403px;
  left: 647px;
  opacity: 0;
}
.dot49:hover + .secret49{
  opacity:1;
}

.dot50{
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  top: 421px;
  left: 662px;
  z-index: 99;
}
.secret50{
  color: red;
  position: fixed;
  top: 421px;
  left: 662px;
  opacity: 0;
}
.dot50:hover + .secret50{
  opacity:1;
}
