/*
html{
  background-color: #f4ebd7
}

.button{
  color: white;
  background: #38622d;
  border-radius: 40px;
  padding: 10px;
  margin: 5px;
  width: 200px;
}
*/

html{
  background-color: #black
}

.button{
  color: white;
  background: #38622d;
  border-radius: 40px;
  padding: 10px;
  margin: 5px;
  width: 200px;
}
